/* 
General Div Layout 
*/
#header-div{
    position: relative;
    z-index: 1; /* set higher z-index value */
}
#wrapper{
    position: relative;
}
.parent-div {
    display: flex;
    /* position: relative; */
}
.child-div {
    /* flex: 1; */
   /* border: 2px solid red;  */
    border-radius: 10px;  
}  
.right-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* flex: 0;  */
    min-width: 800px; /* Set a minimum width */
    max-width: 50%; /* Set a maximum width as a percentage */


    /* margin-left: 20px; */
}
.left-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* margin-left: 20px; */
}

/* 
Motif centric divs
*/
#motif-wrapper-div{
position: absolute;
display: flex;
flex-direction: column;
top: 70px;
left: 10px;
}
.bottom-row{
    display: flex;
    flex-direction: row;

}

#heat-div{
    /* position: absolute; */
    
}
#scatter-div{
    position: relative;



}





/* 
INFO DIV
Search architectures
Filter by architecture
Show all architectures
Show controls check and label
Show top 5 check and label
*/
#searchBar{
    position: absolute;
    top: 15px;
    left: 500px;
    cursor: text;
}
/* #filter_button{
    position: absolute;
    top: 45px;
    left: 500px;
    cursor: pointer;
} */
#filter_motif_check{
    position: absolute;
    top: 45px;
    left: 500px;
    cursor: pointer;
}

#filter_motif_check_label{
    position: absolute;
    top: 45px;
    left: 530px;
    cursor: pointer;
}



#show_button{
    position: absolute;
    top: 70px;
    left: 500px;
    cursor: pointer;
}
#control_check{
    position: absolute;
    top: 100px;
    left: 500px;
    cursor: pointer;
}
#control_check_label{
    position: absolute;
    top: 100px;
    left: 530px;
    font-size: medium;
}
#top_check{
    position: absolute;
    top: 120px;
    left: 500px;
    cursor: pointer;
}
#top_check_label{
    position: absolute;
    top: 120px;
    left: 530px;
    font-size: medium;

}
#number_selector{
    position: absolute;
    top: 120px;
    left: 645px;
    width: 50px;
    cursor: text;
}

/* 
Number DNA/RNA barcodes slider
*/


.track {
    fill: none;
    stroke: #ccc; 
    stroke-width: 40px; 
}
.track-inset {
    fill: none;
    stroke: #ddd; 
    stroke-width: 8px; 
    /* border-radius: 10px;   */
}
.handle {
    fill: rgb(0, 0, 0); 
    cursor: grab;
}


.view_button{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size:16px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    cursor: pointer;
}
#treatment_view_button{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;
}
#motif_view_button{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 300px;
    top: 10px;
}

#lab_link{
    position: absolute;
    left: 600px;
    top: 10px;
}

/* 
Copy buttons
*/
#copy-button{
    position: absolute;
    top: 160px;
    left: 500px;
    cursor: pointer;

}
#copy-button-top{
    position: absolute;
    top: 190px;
    left: 500px;
    cursor: pointer;
}
#copy-button-bottom{
    position: absolute;
    top: 190px;
    left: 615px;
    cursor: pointer;
}

/* 
Condition search bars
*/
#searchBarBase{
    position: absolute;
    top: 150px;
    left: 50px;
}
#search_bar_base_label{
    position: absolute;
    top: 135px;
    left: 50px;
    font-size: 12px;
    font-weight: bold;
}
#search_bar_stim_label{
    position: absolute;
    top: 75px;
    left: 50px;
    font-size: 12px;
    font-weight: bold;
}
#searchBarStim{
    position: absolute;
    top: 90px;
    left: 50px;
}



/* 
Information
*/
#info-div {
    background-color: rgba(226, 223, 223, 0.803);
}

#info-div {
    position: relative;
    /* border: 2px solid red; */

}

.info-tooltip {
    position: absolute;
    z-index: 1;
    background-color: rgb(84, 90, 107);
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip {
    position: absolute;
    z-index: 1;
    background-color: rgb(84, 90, 107);
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    min-width: 200px; /* Set a minimum width */
    max-width: 600px; /* Set a minimum width */

}


/* 
Loading animation
*/

/* #loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
  }
  
  .loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #000000;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  } */

  #loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
  }
  
  .loading-animation {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
  }
  .loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
  }
  .loader--dot:first-child {
    background-color: #648FFF;
    animation-delay: 0.5s;
  }
  .loader--dot:nth-child(2) {
    background-color: #785EF0;
    animation-delay: 0.4s;
  }
  .loader--dot:nth-child(3) {
    background-color: #DC267F;
    animation-delay: 0.3s;
  }
  .loader--dot:nth-child(4) {
    background-color: #FE6100;
    animation-delay: 0.2s;
  }
  .loader--dot:nth-child(5) {
    background-color: #FFB000;
    animation-delay: 0.1s;
  }
  

  .loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
  }
  .loader--text:after {
    content: "Loading";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes loader {
    15% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(230px);
    }
    65% {
      transform: translateX(230px);
    }
    95% {
      transform: translateX(0);
    }
  }
  @keyframes loading-text {
    0% {
      content: "Loading";
    }
    25% {
      content: "Loading.";
    }
    50% {
      content: "Loading..";
    }
    75% {
      content: "Loading...";
    }
  }