/* 
DIVS AND WRAPPERS
*/

:root{
    --background-grey: rgb(183, 183, 183, 0.293);
}

html, body {
    height: 100%;
    width: 100%;

    margin: 0;
}

#wrapper{
    height: 100%;
    width: 100%;

}
#non-scroll-div{
    height: 100%;
    width: 60%;
    background-color: rgb(255, 255, 255);
    float:left;
    /* position:sticky; */
    top: 0px;
    display: flex;
       


 }

 #head-scatter-snake-div-wrapper{
    background-color: rgba(255, 255, 255, 0.529);
    /* width: 100%; */
    flex-grow: 1;
    float: left;
    overflow-y:scroll;
    position: relative;

 }
 #head-div{
    background-color: var(--background-grey);
    width: 100%;
    height: 60px;
    position: sticky;
 }
 #scatter-div{
    background-color:  rgb(255, 255, 255);
    width: 100%;
    height: 50%;
 }
 #snake-div{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    /* position: relative; */
 }

 #sequence-legend-div-wrapper{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.899);
    float:right;
    margin-right: 0px;
    margin-left: 0px;
 }

 #sequence-legend-div-labels{
    height: 120px;
    width:100%;
    background-color: var(--background-grey);
    /* display: table; */
    float:right;
    margin-right: 0px;
    margin-left: 0px; 
 }

 #sequence-legend-div{
    height: 100%;
    width: 145px;
    background-color: rgb(255, 255, 255);
    margin-right: 0px;
    margin-left: 0px;
    /* float: right;  */
 }
#scroll-div{
   height: 100%;
   width: 40%;
   overflow-y:scroll;
   float:right;
   position:relative;
   z-index: 1;
   background-color: rgb(255, 255, 255);

}
#heat-sticky-div{
    height: 50px;
    width: 70%;
    float:left;
    position:sticky;
    top:0px;
    z-index: 2
 }
 #bar-sticky-div{
    height: 50px;
    width: 30%;
    float:left;
    position:sticky;
    top:0px;
    z-index: 2
 }
 #tooltip{
    z-index: 3;
 }

 #logo{
    margin-left: 0px;
    margin-top: -10px;
    height: 70px;
    width: 120px;
 }

 


/* 
OTHER ELEMENTS
*/
.third-interaction{
    opacity: .5;
    pointer-events: none;
    cursor: pointer;
    font-family:monospace;
}
.fourth-interaction{
    opacity: .5;
    pointer-events: none;
    cursor: pointer;
    font-family:monospace;
}
.second-interaction{
    opacity: .5;
    pointer-events: none;
    cursor: pointer;
    font-family:monospace;

}

#protein_select{
    cursor: pointer;
    font-family:monospace;
    position: absolute;
    margin-top: 5px;
}
#condition_select{
    position: absolute;
    margin-top: 30px;
}



#sort_select{
    position: absolute;
    top: 40px;

}

#sort_select_label{
    position: absolute;
    font-family:monospace;
    top: 20px;
}

#heat_frequency_button{
    position: relative;
    font-family:monospace;
    top: 60px;
    display: inline-block;

}


#question_icon{
    cursor: help;
}
